{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 申请应用{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/list-box.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box big-title">
            <div class="full mask"></div>
            <div id="title"></div>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="list-box main active" id="main-box">
            <section>
                <div class="item form">
                    <div class="full mask"></div>
                    <div class="key">应用名</div>
                    <input class="value" placeholder="给你的应用起个名字" id="app-name-input"/>
                </div>
                <div class="item form">
                    <div class="full mask"></div>
                    <div class="key">介绍</div>
                    <input class="value" placeholder="20字以内的应用描述" id="app-desc-input"/>
                </div>
            </section>
            <section>
                <div class="item form">
                    <div class="full mask"></div>
                    <div class="key">回调URI</div>
                    <input class="value" id="app-redirect-uri-input"/>
                </div>
                <div class="item form">
                    <div class="full mask"></div>
                    <div class="key">权限</div>
                    <div class="value" onclick="Apply.switchToScopeBox()" id="scope-text">选择权限…</div>
                </div>
            </section>
            <section class="b1">
                <div class="item button">
                    <div class="full mask"></div>
                    <div class="button">取消申请</div>
                </div>
            </section>
            <section class="b0">
                <div class="item button confirm">
                    <div class="full mask"></div>
                    <div class="button" onclick="Apply.apply()">确认申请</div>
                </div>
            </section>
        </div>
        <div class="list-box inactive scopes" id="scope-box">
            <section id="scope-section"></section>
            <section class="b0">
                <div class="item button confirm">
                    <div class="full mask"></div>
                    <div class="button" onclick="Apply.switchToMainBox()">确认权限</div>
                </div>
            </section>
        </div>
    </div>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script src="{% static "js/app/scope.js" %}"></script>
    <script src="{% static "js/app/apply.js" %}"></script>
    <script>
        Scope.staticConstructor({
            scopeSectionId: 'scope-section',
            scopeBoxId: 'scope-box',
            scopeTextId: 'scope-text',
        });
        Apply.staticConstructor({
            titleId: 'title',
            mainBoxId: 'main-box',
            appNameInputId: 'app-name-input',
            appDescInputId: 'app-desc-input',
            appRedirectUriInputId: 'app-redirect-uri-input',
        });
        Saying.staticConstructor('saying');
    </script>
{% endblock %}