@import "../base";

@title-box-height: 106px;
div.title-box {
  position: absolute;
  width: 100%;
  height: @title-box-height;
  top: 0;

  /*for register.html*/
  span.back {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    &:before {
      font-size: 24px;
    }
  }
  span.back.inactive {
    display: none;
  }
  div.mask {
    background: black;
    filter: opacity(0.5);
  }
  div#title {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
    font-size: 40px;
  }

  /*for center.html*/
  @avatar-size: 70px;
  div.avatar {
    position: absolute;
    width: @avatar-size;
    height: @avatar-size;
    left: 18px;
    top: calc(~'50% - @{avatar-size} / 2');
    border-radius: @avatar-size / 2;
    border: 2px solid rgba(255, 255, 255, 0.6);
    &:hover {
      border: 2px solid rgba(255, 255, 255, 1);
    }
    &:extend(.ptr);
  }
  @middle-margin: 108px;
  div.middle {
    position: absolute;
    width: calc(~'100% - 190px');
    left: 0;
    top: 29px;
    margin-left: @middle-margin;
    color: white;
    white-space: nowrap;
    div.nickname {
      font-weight: bold;
      font-size: 20px;
    }
    div.info {
      font-size: 14px;
      width: 100%;
      overflow: hidden;
    }
  }

  span.setting {
    &:extend(.ptr);
    position: absolute;
    right: 34px;
    top: 43px;
    color: white;
  }
}

@saying-height: 30px;
div.saying-box {
  position: absolute;
  width: 100%;
  height: @saying-height;
  top: @title-box-height;
  div.mask {
    background: white;
    filter: opacity(0.2);
  }
  div#saying {
    line-height: @saying-height;
    vertical-align: middle;
    letter-spacing: 1px;
    color: black;
    font-size: 12px;
    padding-left: 10px;
  }
}

@qa-box-height: calc(~'100% - @{title-box-height} - @{saying-height} - @{footer-height}');
div.qa-box {
  &:extend(.animate);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: @qa-box-height;
  top: @title-box-height + @saying-height;
  @qa-item-height: 80px;
  @qa-item-width: 310px;
  div.qa-item {
    position: relative;
    display: inline-block;
    width: @qa-item-width;
    height: @qa-item-height;
    left: calc(~"50% - @{qa-item-width} / 2");
    div.title {
      position: absolute;
      top: 7px;
      color: white;
      filter: opacity(0.8);
      font-size: 14px;
      &:extend(.animate);
    }
    @qa-item-main-height: 34px;
    .main {
      position: absolute;
      top: 39px;
      height: @qa-item-main-height;
      line-height: @qa-item-main-height;
      font-size: 27px;
      color: white;
      vertical-align: middle;
      font-family: "Courier New", serif;
    }
    input {
      background: none;
      border: none;
      outline: none;
      &::placeholder {
        color: white;
        filter: opacity(0.6);
        font-family: "PingFang SC", serif;
      }
      width: 100%;
    }
    &:extend(.animate);
  }
  div.qa-item.inactive {
    height: 40px;
    overflow: hidden;
    div.title {
      filter: opacity(0.4);
      &:after {
        content: "？";
      }
      &:extend(.ptr);
    }
  }
}

div.qa-box.active {
  left: 0;
}

div.qa-box.phone.inactive {
  left: -100%;
}

div.qa-box.inactive {
  left: 100%;
}

@footer-height: 180px;
div.footer {
  position: absolute;
  width: 100%;
  height: @footer-height;
  bottom: 0;
  span {
    display: block;
  }
  span.next{
    padding-top: 40px;
    &:before {
      color: white;
      font-size: 64px;
    }
  }
  span.text {
    margin-top: 16px;
    color: white;
    font-size: 14px;
  }
}

div.footer.active {
  left: 0;
}

div.footer.inactive {
  left: -100%;
}

@app-box-height: calc(~'100% - @{title-box-height} - @{saying-height}');
div.app-box {
  position: absolute;
  width: 100%;
  height: @app-box-height;
  top: @title-box-height + @saying-height;
  overflow: scroll;
  padding-bottom: 20px;

  @app-item-height: 168px;
  div.app-item {
    position: relative;
    float: left;
    width: 50%;
    height: @app-item-height;
    margin: 20px 0 0;

    @main-width: 168px;
    @main-margin-left-odd: calc(~'(100% - @{main-width}) / 3 * 2');
    @main-margin-left-even:calc(~'(100% - @{main-width}) / 3');

    &:nth-child(odd) {
      div.main {
        margin-left: @main-margin-left-odd;
      }
    }
    &:nth-child(even) {
      div.main {
        margin-left: @main-margin-left-even;
      }
    }

    div.main {
      position: relative;
      width: @main-width;
      height: 100%;

      div.mask {
        filter: opacity(0.6);
        color: white;
      }

      @logo-size: 40px;
      @logo-radius: @logo-size / 2;
      div.logo {
        position: absolute;
        top: 0;
        right: 0;
        &:extend(.animate, .ptr);
      }

      div.logo.active {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }

      div.logo.inactive {
        width: @logo-size;
        height: @logo-size;
        border-radius: @logo-radius 0 @logo-radius @logo-radius;
        z-index: 1;
      }

      div.app-name {
        position: absolute;
        top: 8px;
        left: 14px;
        font-size: 18px;
        font-weight: bold;
      }
      @description-height: 40px;
      div.description {
        position: absolute;
        top: calc(~'50% - @{description-height} / 2');
        height: @description-height;
        color: #555555;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0 14px;
      }

      @btn-box-margin: 20px;
      div.btn-box {
        position: absolute;
        height: 20px;
        margin: 0 @btn-box-margin;
        width: calc(~'100% - @{btn-box-margin} * 2');
        bottom: 18px;
        span {
          position: absolute;
          top: 0;
          &:extend(.ptr);
        }
        span.remove {
          color: @red;
          left: 0;
        }
        span.getin {
          color: black;
          right: 0;
        }
      }
    }
  }
}

@list-box-margin-top: 100px;
div.list-box {
  position: absolute;
  top: @title-box-height + @list-box-margin-top;
  width: 100%;
  height: calc(~'100% - @{title-box-height} - @{list-box-margin-top}');
  &:extend(.animate);
}