	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:08
  	*/

@font-face {
  font-family: "FlaticonSolid";
  src: url("../font/FlaticonSolid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.solid[class^="flaticon-"]:before, .solid[class*=" flaticon-"]:before,
.solid[class^="flaticon-"]:after, .solid[class*=" flaticon-"]:after {
  font-family: FlaticonSolid;
  font-size: 20px;
  font-style: normal;
}

.flaticon-add-black-circular-button:before { content: "\f100"; }
.flaticon-adding-black-square-button-interface-symbol:before { content: "\f101"; }
.flaticon-addition-sign:before { content: "\f102"; }
.flaticon-airplane-silhouette:before { content: "\f103"; }
.flaticon-alarm-clock:before { content: "\f104"; }
.flaticon-arrow-angle-pointing-to-right:before { content: "\f105"; }
.flaticon-arrows-couple-counterclockwise-rotating-symbol:before { content: "\f106"; }
.flaticon-ascendant-arrow:before { content: "\f107"; }
.flaticon-attach-paperclip-symbol:before { content: "\f108"; }
.flaticon-auriculars-solid-tool-symbol:before { content: "\f109"; }
.flaticon-back-arrow-solid-square-button:before { content: "\f10a"; }
.flaticon-back-black-square-interface-button-symbol:before { content: "\f10b"; }
.flaticon-bag-rounded-rectangular-black-tool-shape:before { content: "\f10c"; }
.flaticon-bell-black-solid-musical-instrument:before { content: "\f10d"; }
.flaticon-bell-silhouette-black-shape-interface-symbol-of-alarm:before { content: "\f10e"; }
.flaticon-black-cellphone-back:before { content: "\f10f"; }
.flaticon-black-circular-graphic:before { content: "\f110"; }
.flaticon-black-half-sun:before { content: "\f111"; }
.flaticon-black-ink-drop-shape:before { content: "\f112"; }
.flaticon-black-map-folded-paper-symbol:before { content: "\f113"; }
.flaticon-black-oval-speech-bubble:before { content: "\f114"; }
.flaticon-black-placeholder-for-maps:before { content: "\f115"; }
.flaticon-black-silhouette-shape-of-an-object-like-a-spoon:before { content: "\f116"; }
.flaticon-black-square-button-with-an-arrow-pointing-out-to-upper-right:before { content: "\f117"; }
.flaticon-black-tag-interface-symbol-in-vertical-position:before { content: "\f118"; }
.flaticon-black-winds-socket-tool-symbol:before { content: "\f119"; }
.flaticon-book-black-opened-symbol:before { content: "\f11a"; }
.flaticon-bookmark-big-black-solid-rounded-interface-symbol:before { content: "\f11b"; }
.flaticon-bottle-black-container:before { content: "\f11c"; }
.flaticon-broken-black-ticket-symbol:before { content: "\f11d"; }
.flaticon-buttons:before { content: "\f11e"; }
.flaticon-calendar-events-symbol:before { content: "\f11f"; }
.flaticon-call-black-auricular-interface-symbol:before { content: "\f120"; }
.flaticon-center-text:before { content: "\f121"; }
.flaticon-chat-black-rectangular-rounded-speech-balloon-interface-symbol:before { content: "\f122"; }
.flaticon-chat-oval-black-balloons-couple:before { content: "\f123"; }
.flaticon-chat-oval-black-interface-symbol-with-text-lines:before { content: "\f124"; }
.flaticon-clipboard-black-square-interface-symbol:before { content: "\f125"; }
.flaticon-clock-black-circular-tool:before { content: "\f126"; }
.flaticon-close-arrow-shape-button-interface-symbol:before { content: "\f127"; }
.flaticon-cloud-black-shape:before { content: "\f128"; }
.flaticon-cloud-black-storm-symbol-of-weather-with-hail-dots-falling:before { content: "\f129"; }
.flaticon-compass-black-circular-orientation-tool:before { content: "\f12a"; }
.flaticon-configuration-gross-black-cogwheel-symbol-of-interface:before { content: "\f12b"; }
.flaticon-copy-black-square-symbol:before { content: "\f12c"; }
.flaticon-counterclockwise-circular-arrow:before { content: "\f12d"; }
.flaticon-cropping-design-interface-symbol-of-straight-lines:before { content: "\f12e"; }
.flaticon-cross:before { content: "\f12f"; }
.flaticon-cross-black-circular-button:before { content: "\f130"; }
.flaticon-cross-square-black-button:before { content: "\f131"; }
.flaticon-cup-trophy-silhouette:before { content: "\f132"; }
.flaticon-diagonal-arrow-entering-in-black-square-button:before { content: "\f133"; }
.flaticon-double-horizontal-arrow:before { content: "\f134"; }
.flaticon-double-left-arrows-symbol:before { content: "\f135"; }
.flaticon-double-vertical-arrow:before { content: "\f136"; }
.flaticon-down-arrow:before { content: "\f137"; }
.flaticon-down-arrow-black-circular-button:before { content: "\f138"; }
.flaticon-down-arrow-black-circular-button-1:before { content: "\f139"; }
.flaticon-down-arrow-black-square-button:before { content: "\f13a"; }
.flaticon-down-arrow-black-square-button-1:before { content: "\f13b"; }
.flaticon-down-arrow-symbol:before { content: "\f13c"; }
.flaticon-down-arrow-symbol-in-black-square-button:before { content: "\f13d"; }
.flaticon-download-black-cloud-interface-symbol-with-down-arrow-inside:before { content: "\f13e"; }
.flaticon-download-black-square-interface-button-symbol:before { content: "\f13f"; }
.flaticon-download-interface-symbol-of-down-arrow-on-and-in-a-black-square:before { content: "\f140"; }
.flaticon-email-black-envelope-front-interface-symbol:before { content: "\f141"; }
.flaticon-email-black-envelope-symbol:before { content: "\f142"; }
.flaticon-email-black-opened-back-envelope-interface-symbol:before { content: "\f143"; }
.flaticon-equalizer:before { content: "\f144"; }
.flaticon-equalizer-black-square-button:before { content: "\f145"; }
.flaticon-event-calendar-symbol:before { content: "\f146"; }
.flaticon-expand-button-black-square-interface-symbol:before { content: "\f147"; }
.flaticon-expand-two-diagonal-arrows-symbol:before { content: "\f148"; }
.flaticon-fast-forward-double-black-arrows-multimedia-symbol:before { content: "\f149"; }
.flaticon-fast-forward-double-right-arrows-symbol:before { content: "\f14a"; }
.flaticon-file-black-rounded-symbol:before { content: "\f14b"; }
.flaticon-file-black-rounded-symbol-1:before { content: "\f14c"; }
.flaticon-files-copy-interface-symbol:before { content: "\f14d"; }
.flaticon-film-strip-piece-of-two-photograms:before { content: "\f14e"; }
.flaticon-flag-black-cutted-shape:before { content: "\f14f"; }
.flaticon-foggy-day:before { content: "\f150"; }
.flaticon-foggy-full-moon-night:before { content: "\f151"; }
.flaticon-foggy-night:before { content: "\f152"; }
.flaticon-folder-black-interface-symbol:before { content: "\f153"; }
.flaticon-fork-black-silhouette-of-kitchen-eating-utensil:before { content: "\f154"; }
.flaticon-four-black-buttons-keyboard-of-rounded-squares:before { content: "\f155"; }
.flaticon-game:before { content: "\f156"; }
.flaticon-games-machine:before { content: "\f157"; }
.flaticon-giftbox:before { content: "\f158"; }
.flaticon-glass-of-cocktail-silhouette:before { content: "\f159"; }
.flaticon-global-symbol-of-black-circle-with-grid:before { content: "\f15a"; }
.flaticon-graphic-of-bars-on-screen:before { content: "\f15b"; }
.flaticon-hot-or-burn-interface-symbol:before { content: "\f15c"; }
.flaticon-image-square-interface-button:before { content: "\f15d"; }
.flaticon-justify-text:before { content: "\f15e"; }
.flaticon-keyboard-of-nine-circle-for-digital-devices:before { content: "\f15f"; }
.flaticon-knife-shape:before { content: "\f160"; }
.flaticon-left-alignment-interface-symbol:before { content: "\f161"; }
.flaticon-left-arrow-and-black-square-symbol:before { content: "\f162"; }
.flaticon-left-arrow-angle-big-gross-symbol:before { content: "\f163"; }
.flaticon-left-arrow-black-button-square:before { content: "\f164"; }
.flaticon-left-arrow-black-circular-button:before { content: "\f165"; }
.flaticon-left-arrow-curved-black-symbol:before { content: "\f166"; }
.flaticon-left-arrow-in-circular-button-black-symbol:before { content: "\f167"; }
.flaticon-left-black-arrow-symbol:before { content: "\f168"; }
.flaticon-like-solid-heart-black-symbol-for-interface:before { content: "\f169"; }
.flaticon-link:before { content: "\f16a"; }
.flaticon-list-interface-symbol:before { content: "\f16b"; }
.flaticon-list-symbol-of-three-items-with-dots:before { content: "\f16c"; }
.flaticon-locked-circular-black-padlock-interface-security-symbol:before { content: "\f16d"; }
.flaticon-login-symbol-of-an-arrow-entering-to-a-black-square:before { content: "\f16e"; }
.flaticon-megaphone-black-amplification-audio-tool-symbol:before { content: "\f16f"; }
.flaticon-menu-black-rounded-square-interface-button:before { content: "\f170"; }
.flaticon-menu-button:before { content: "\f171"; }
.flaticon-menu-gross-interface-symbol:before { content: "\f172"; }
.flaticon-minus-big-symbol:before { content: "\f173"; }
.flaticon-minus-circular-black-button:before { content: "\f174"; }
.flaticon-minus-solid-black-square-button:before { content: "\f175"; }
.flaticon-mobile-device-black-symbol:before { content: "\f176"; }
.flaticon-monitor-black-tool:before { content: "\f177"; }
.flaticon-moon-phase-black-crescent-shape:before { content: "\f178"; }
.flaticon-movie-symbol-of-video-camera:before { content: "\f179"; }
.flaticon-music-amplifier:before { content: "\f17a"; }
.flaticon-music-note-symbol:before { content: "\f17b"; }
.flaticon-music-solid-rectangular-rounded-button:before { content: "\f17c"; }
.flaticon-music-square-frontal-speaker-amplifying-tool-symbol:before { content: "\f17d"; }
.flaticon-music-theme-info-interface-symbol-of-musical-note-with-text-lines:before { content: "\f17e"; }
.flaticon-musical-note:before { content: "\f17f"; }
.flaticon-musical-note-black-symbol:before { content: "\f180"; }
.flaticon-mute-microphone-interface-symbol:before { content: "\f181"; }
.flaticon-mute-speaker-symbol-of-interface-with-a-cross:before { content: "\f182"; }
.flaticon-new-email-black-back-envelope-symbol-of-interface:before { content: "\f183"; }
.flaticon-notebook-black-tool-symbol:before { content: "\f184"; }
.flaticon-oval-black-speech-balloon:before { content: "\f185"; }
.flaticon-oval-black-speech-balloon-with-three-dots-inside:before { content: "\f186"; }
.flaticon-paintbrush-design-tool-interface-symbol:before { content: "\f187"; }
.flaticon-paper-plane-black-folded-shape-of-triangular-arrow:before { content: "\f188"; }
.flaticon-paperclip-in-vertical-position:before { content: "\f189"; }
.flaticon-pause-multimedia-big-gross-symbol-lines:before { content: "\f18a"; }
.flaticon-pencil-big-black-writing-tool:before { content: "\f18b"; }
.flaticon-person-black-user-shape:before { content: "\f18c"; }
.flaticon-person-info:before { content: "\f18d"; }
.flaticon-photo-camera-black-tool:before { content: "\f18e"; }
.flaticon-pin-black-solid-silhouette-of-tool:before { content: "\f18f"; }
.flaticon-play-black-triangle-interface-symbol-for-multimedia:before { content: "\f190"; }
.flaticon-plus-sign-on-zoom-magnifier:before { content: "\f191"; }
.flaticon-portfolio-black-symbol:before { content: "\f192"; }
.flaticon-printing-button-interface-symbol:before { content: "\f193"; }
.flaticon-prize-badge:before { content: "\f194"; }
.flaticon-radio-black-tool-symbol:before { content: "\f195"; }
.flaticon-rewind-multimedia-button-symbol-of-two-black-arrows:before { content: "\f196"; }
.flaticon-right-arrow-angle-black-circular-interface-symbol:before { content: "\f197"; }
.flaticon-right-arrow-black-button:before { content: "\f198"; }
.flaticon-right-arrow-black-square-button:before { content: "\f199"; }
.flaticon-right-arrow-in-black-circular-button:before { content: "\f19a"; }
.flaticon-right-arrow-solid-square-button:before { content: "\f19b"; }
.flaticon-right-arrow-symbol:before { content: "\f19c"; }
.flaticon-right-black-arrow-signal:before { content: "\f19d"; }
.flaticon-ring-bell-of-hotel-reception:before { content: "\f19e"; }
.flaticon-rounded-corners-interface-square-symbol:before { content: "\f19f"; }
.flaticon-sand-clock-silhouette:before { content: "\f1a0"; }
.flaticon-save-black-diskette-interface-symbol:before { content: "\f1a1"; }
.flaticon-search-magnifier-black-shape:before { content: "\f1a2"; }
.flaticon-share-black-solid-social-symbol:before { content: "\f1a3"; }
.flaticon-shopping-basket-commercial-tool:before { content: "\f1a4"; }
.flaticon-shopping-cart-black-silhouette:before { content: "\f1a5"; }
.flaticon-shopping-cart-silhouette:before { content: "\f1a6"; }
.flaticon-shuffle-two-arrows-symbol:before { content: "\f1a7"; }
.flaticon-solid-ascendant-arrow-symbol:before { content: "\f1a8"; }
.flaticon-solid-black-sun-symbol:before { content: "\f1a9"; }
.flaticon-sort-ascending-interface-symbol:before { content: "\f1aa"; }
.flaticon-sort-down-interface-symbol:before { content: "\f1ab"; }
.flaticon-speaker:before { content: "\f1ac"; }
.flaticon-speaker-audio-tool:before { content: "\f1ad"; }
.flaticon-speaker-black-audio-interface-symbol:before { content: "\f1ae"; }
.flaticon-square-black-geometric-shape:before { content: "\f1af"; }
.flaticon-square-shape-with-dots-on-corners:before { content: "\f1b0"; }
.flaticon-squares-stack:before { content: "\f1b1"; }
.flaticon-star-black-fivepointed-shape-symbol:before { content: "\f1b2"; }
.flaticon-store-commercial-symbol:before { content: "\f1b3"; }
.flaticon-storm-black-cloud-symbol:before { content: "\f1b4"; }
.flaticon-storm-black-cloud-with-a-lightning-bolt-shape-inside:before { content: "\f1b5"; }
.flaticon-switch-black-solid-symbol:before { content: "\f1b6"; }
.flaticon-switch-black-tool-symbol:before { content: "\f1b7"; }
.flaticon-tag-black-symbol:before { content: "\f1b8"; }
.flaticon-target-black-circular-symbol:before { content: "\f1b9"; }
.flaticon-three-bars-graphic-interface-symbol:before { content: "\f1ba"; }
.flaticon-timer-black-tool-symbol:before { content: "\f1bb"; }
.flaticon-trash-can-black-symbol:before { content: "\f1bc"; }
.flaticon-travel-bag-of-vertical-black-design:before { content: "\f1bd"; }
.flaticon-tv-monitor:before { content: "\f1be"; }
.flaticon-two-arrows:before { content: "\f1bf"; }
.flaticon-two-arrows-in-black-square-button:before { content: "\f1c0"; }
.flaticon-two-arrows-triangles-pointing-to-sides-with-a-slash-line-in-the-middle:before { content: "\f1c1"; }
.flaticon-two-black-drops-of-different-sizes:before { content: "\f1c2"; }
.flaticon-two-clockwise-circular-rotating-arrows-circle:before { content: "\f1c3"; }
.flaticon-two-opposite-diagonal-arrows-in-black-square:before { content: "\f1c4"; }
.flaticon-unlocked-padlock:before { content: "\f1c5"; }
.flaticon-up-arrow-black-square-button:before { content: "\f1c6"; }
.flaticon-up-arrow-black-square-button-1:before { content: "\f1c7"; }
.flaticon-up-arrow-black-square-button-interface-symbol:before { content: "\f1c8"; }
.flaticon-up-arrow-black-triangle-symbol:before { content: "\f1c9"; }
.flaticon-up-arrow-button:before { content: "\f1ca"; }
.flaticon-up-arrow-entering-in-black-square:before { content: "\f1cb"; }
.flaticon-up-arrow-solid-black-square-button:before { content: "\f1cc"; }
.flaticon-up-arrow-solid-circular-button:before { content: "\f1cd"; }
.flaticon-upload-to-internet-cloud:before { content: "\f1ce"; }
.flaticon-upload-tray-with-up-arrow-interface-symbol:before { content: "\f1cf"; }
.flaticon-verification-checkmark-symbol:before { content: "\f1d0"; }
.flaticon-verify-black-square-interface-button-symbol:before { content: "\f1d1"; }
.flaticon-verify-circular-black-button-symbol:before { content: "\f1d2"; }
.flaticon-voice-amplification-or-recording-interface-symbol-of-a-microphone:before { content: "\f1d3"; }
.flaticon-voice-interface-symbol-of-microphone-silhouette:before { content: "\f1d4"; }
.flaticon-wallet-black-symbol:before { content: "\f1d5"; }
.flaticon-weekly-calendar-black-event-interface-symbol:before { content: "\f1d6"; }
.flaticon-window-black-rounded-square-interface-symbol:before { content: "\f1d7"; }
.flaticon-winds-weather-symbol:before { content: "\f1d8"; }
.flaticon-wrench-black-silhouette:before { content: "\f1d9"; }
.flaticon-writing-tools-symbol-of-interface-with-black-square-paper-note-and-a-pencil:before { content: "\f1da"; }
.flaticon-zoom-magnifier-with-minus-symbol:before { content: "\f1db"; }