div.app-box {
  position: absolute;
  width: 100%;
  height: calc(100% - 106px - 30px);
  overflow: scroll;
  padding-bottom: 20px;
}
div.app-box div.app-item {
  position: relative;
  float: left;
  width: 50%;
  height: 168px;
  margin: 20px 0 0;
}
div.app-box div.app-item:nth-child(odd) div.main {
  margin-left: calc((100% - 168px) / 3 * 2);
}
div.app-box div.app-item:nth-child(even) div.main {
  margin-left: calc((100% - 168px) / 3);
}
div.app-box div.app-item div.main {
  position: relative;
  width: 168px;
  height: 100%;
}
div.app-box div.app-item div.main div.mask {
  filter: opacity(0.6);
  color: white;
}
div.app-box div.app-item div.main div.logo {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s;
  cursor: pointer;
}
div.app-box div.app-item div.main div.logo.active {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
div.app-box div.app-item div.main div.logo.inactive {
  width: 40px;
  height: 40px;
  border-radius: 20px 0 20px 20px;
  z-index: 1;
}
div.app-box div.app-item div.main div.app-name {
  position: absolute;
  top: 8px;
  left: 14px;
  font-size: 18px;
  font-weight: bold;
}
div.app-box div.app-item div.main div.description {
  position: absolute;
  top: calc(50% - 40px / 2);
  height: 40px;
  color: #555555;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 14px;
}
div.app-box div.app-item div.main div.btn-box {
  position: absolute;
  height: 20px;
  margin: 0 20px;
  width: calc(100% - 20px * 2);
  bottom: 18px;
}
div.app-box div.app-item div.main div.btn-box span {
  position: absolute;
  top: 0;
  cursor: pointer;
}
div.app-box div.app-item div.main div.btn-box span.remove {
  color: #D04B4B;
  left: 0;
}
div.app-box div.app-item div.main div.btn-box span.getin {
  color: black;
  right: 0;
}
