{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 绑定手机号{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/qa-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/footer.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box big-title">
            <div class="full mask"></div>
            <span class="line flaticon-left-arrow-line-symbol back" id="back-btn"></span>
            <div id="title"></div>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="qa-box phone active" id="phone-box">
            <div class="qa-item">
                <div class="title">绑定的手机号</div>
                <div class="region-box main" id="switch-region-btn">
                    <div id="region">+86</div>
                    <span class="line flaticon-down-arrow"></span>
                </div>
                <input class="main" id="phone-input" placeholder="填写手机号码"/>
            </div>
{#            <div class="qa-item" id="captcha"></div>#}
        </div>
        <div class="qa-box region inactive" id="region-box"></div>
        <div class="qa-box password inactive" id="captcha-box">
            <div class="qa-item">
                <div class="title">验证手机</div>
                <input class="main" id="captcha-input" type="number" placeholder="填写短信验证码">
            </div>
        </div>
        <div class="footer center" id="footer-box">
            <span class="solid flaticon-right-arrow-in-black-circular-button next" id="next-btn"></span>
            <span class="text">继续以完成绑定</span>
        </div>
    </div>
    <script src="{% static "js/user/base.js" %}"></script>
    <script src="{% static "js/user/bind-phone.js" %}"></script>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script src="{% static "js/base/gt.js" %}"></script>
    <script src="{% static "js/base/captcha.js" %}"></script>
    <script>
        UserBase.staticConstructor({
            successCallback: Router.jumpBackOrRoute(Router.jumpToUserCenter(true)),
        });
        BindPhone.staticConstructor({
            phoneBoxId: 'phone-box',
            regionBoxId: 'region-box',
            footerBoxId: 'footer-box',
            switchRegionBtnId: 'switch-region-btn',
            regionId: 'region',
            backBtnId: 'back-btn',
            captchaBoxId: 'captcha-box',
            titleId: 'title',
            captchaInputId: 'captcha-input',
            nextBtnId: 'next-btn',
        });
        Saying.staticConstructor('saying');
        initGeetest({
            gt: '{{ captcha.gt }}',
            challenge: '{{ captcha.challenge }}',
            offline: !{{ captcha.success }},
            new_captcha: 1,
            product: "bind",
        }, function (captchaObj) {
            captchaHandler({
                captchaObj: captchaObj,
                bindBtnId: 'next-btn',
                regionId: 'region',
                phoneInputId: 'phone-input',
                type: 2,
                successCallback: BindPhone.switchToCaptchaBox,
            });
        })
    </script>
{% endblock %}