{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 用户中心{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/app-box.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box user-info">
            <div class="full mask"></div>
            <a href="{% url 'user-info-modify' %}"><div class="avatar img-fit" id="avatar"></div></a>
            <div class="middle">
                <div class="nickname" id="nickname"></div>
                <div class="info" id="user-desc"></div>
            </div>
            <a href="{% url 'user-settings' %}">
                <span class="setting solid flaticon-configuration-gross-black-cogwheel-symbol-of-interface hover-strong"></span>
            </a>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="app-box" id="app-box"></div>
    </div>
    <script src="{% static "js/user/base.js" %}"></script>
    <script src="{% static "js/user/center.js" %}"></script>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script>
        Saying.staticConstructor('saying');
        UserBase.staticConstructor({
            nicknameId: 'nickname',
            descId: 'user-desc',
            avatarId: 'avatar',
        });
        Center.staticConstructor({
            appBoxId: 'app-box',
        })
    </script>
{% endblock %}