{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 用户中心{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/app-box.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box user-info">
            <div class="full mask"></div>
            <a href="{% url 'user-info-modify' %}"><div class="avatar img-fit" id="avatar"></div></a>
            <div class="middle">
                <div class="nickname" id="nickname"></div>
                <div class="info" id="user-desc"></div>
            </div>
            <a href="{% url 'user-settings' %}">
                <span class="setting solid flaticon-configuration-gross-black-cogwheel-symbol-of-interface hover-strong"></span>
            </a>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="app-box active main" id="app-box-user"></div>
        <div class="app-box inactive" id="app-box-owner"></div>
        <div class="app-view-switcher">
            <span class="active" id="switch-app-user-btn">我使用的应用</span>
            <span class="inactive middle">|</span>
            <span class="inactive" id="switch-app-owner-btn">我申请的应用</span>
        </div>
    </div>
    <script src="{% static "js/user/base.js" %}"></script>
    <script src="{% static "js/user/center.js" %}"></script>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script>
        Saying.staticConstructor('saying');
        UserBase.staticConstructor({
            nicknameId: 'nickname',
            descId: 'user-desc',
            avatarId: 'avatar',
        });
        Center.staticConstructor({
            appBoxUserId: 'app-box-user',
            appBoxOwnerId: 'app-box-owner',
            switchAppUserBtnId: 'switch-app-user-btn',
            switchAppOwnerBtnId: 'switch-app-owner-btn',
        })
    </script>
{% endblock %}