{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 用户登录{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/qa-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/footer.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box big-title">
            <div class="full mask"></div>
            <span class="line flaticon-left-arrow-line-symbol back" id="back-btn"></span>
            <div id="title"></div>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="qa-box phone active" id="phone-box">
            <div class="qa-item active" id="phone-item">
                <a onclick="Login.activatePhoneItem()"><div class="title">使用手机号登录</div></a>
                <div class="region-box main" id="switch-region-btn">
                    <div id="region">+86</div>
                    <span class="line flaticon-down-arrow"></span>
                </div>
                <input class="main" id="phone-input" placeholder="填写手机号码"/>
            </div>
            <div class="qa-item inactive" id="qitian-item">
                <a onclick="Login.activateQitianItem()"><div class="title">使用齐天号登录</div></a>
                <input class="main" id="qitian-input" placeholder="填写齐天号"/>
            </div>
            <a href="{% url "user-register" %}?from={{ request.get_full_path | urlencode }}"><div class="jump-item">没有账号？立即注册！</div></a>
        </div>
        <div class="qa-box region inactive" id="region-box"></div>
        <div class="qa-box password inactive" id="password-box">
            <div class="qa-item">
                <div class="title">登录密码</div>
                <input class="main" id="password-input" type="password" placeholder="填写登录密码"/>
            </div>
        </div>
        <div class="footer center" id="footer-box">
            <span class="solid flaticon-right-arrow-in-black-circular-button next" id="next-btn"></span>
            <span class="text">继续以完成登录</span>
        </div>
    </div>
    <script src="{% static "js/user/base.js" %}"></script>
    <script src="{% static "js/user/login.js" %}"></script>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script src="{% static "js/base/gt.js" %}"></script>
    <script src="{% static "js/base/captcha.js" %}"></script>
    <script>
        UserBase.staticConstructor({
            successCallback: Router.jumpBackOrRoute(Router.jumpToUserCenter(true)),
        });
        Login.staticConstructor({
            phoneBoxId: 'phone-box',
            regionBoxId: 'region-box',
            footerBoxId: 'footer-box',
            switchRegionBtnId: 'switch-region-btn',
            regionId: 'region',
            backBtnId: 'back-btn',
            passwordBoxId: 'password-box',
            titleId: 'title',
            passwordInputId: 'password-input',
            nextBtnId: 'next-btn',
            phoneItemId: 'phone-item',
            qitianItemId: 'qitian-item',
        });
        Saying.staticConstructor('saying');
        initGeetest({
            gt: '{{ captcha.gt }}',
            challenge: '{{ captcha.challenge }}',
            offline: !{{ captcha.success }},
            new_captcha: 1,
            product: "bind",
        }, function (captchaObj) {
            captchaHandler({
                captchaObj: captchaObj,
                bindBtnId: 'next-btn',
                regionId: 'region',
                phoneInputId: 'phone-input',
                qitianInputId: 'qitian-input',
                type: -1,
                successCallback: Login.switchToCaptchaBox,
            });
        });
        InfoCenter.push(new Info('最新版Chrome存在Bug，导致无法用手机号登录，问题已反馈给Google，请使用齐天号登录或换用浏览器'));
    </script>
{% endblock %}