{% extends "base.html" %}
{% load staticfiles %}
{% block title %}齐天簿 - 管理{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/architecture.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/title-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/saying-box.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base/list-box.css" %}"/>
    <div class="full img-fit img-random fit-body"></div>
    <div class="center-container">
        <div class="full mask"></div>
        <div class="title-box user-info">
            <div class="full mask"></div>
            <a onclick="Router.jumpToUserInfoModify()()"><div class="avatar img-fit" id="avatar"></div></a>
            <div class="middle">
                <div class="nickname" id="nickname"></div>
                <div class="info" id="user-desc"></div>
            </div>
        </div>
        <div class="saying-box">
            <div class="full mask"></div>
            <div id="saying"></div>
        </div>
        <div class="list-box main active">
            <section>
                <a onclick="Router.jumpToUserInfoModify()()">
                    <div class="item jump">
                        <div class="full mask"></div>
                        <div class="text">修改个人信息</div>
                        <span class="jump solid flaticon-arrow-angle-pointing-to-right"></span>
                    </div>
                </a>
            </section>
            <section>
                <a onclick="Router.jumpToAppApply()()">
                    <div class="item jump">
                        <div class="full mask"></div>
                        <div class="text">申请应用</div>
                        <span class="jump solid flaticon-arrow-angle-pointing-to-right"></span>
                    </div>
                </a>
            </section>
            <section>
                <a onclick="Router.jumpToGithubRepo()()">
                    <div class="item jump">
                        <div class="full mask"></div>
                        <div class="text">代码开源</div>
                        <span class="jump solid flaticon-arrow-angle-pointing-to-right"></span>
                    </div>
                </a>
                <div class="item jump">
                    <div class="full mask"></div>
                    <div class="text">关于齐天簿</div>
                    <span class="jump solid flaticon-arrow-angle-pointing-to-right"></span>
                </div>
            </section>
            <section class="b1">
                <div class="item button">
                    <div class="full mask"></div>
                    <div class="button" onclick="Router.jumpBackOrRoute(Router.jumpToUserCenter())()">返回</div>
                </div>
            </section>
            <section class="b0">
                <div class="item button confirm">
                    <div class="full mask"></div>
                    <div class="button">退出登录</div>
                </div>
            </section>
        </div>
    </div>
    <script src="{% static "js/user/base.js" %}"></script>
    <script src="{% static "js/user/center.js" %}"></script>
    <script src="{% static "js/base/saying.js" %}"></script>
    <script>
        Saying.staticConstructor('saying');
        UserBase.staticConstructor({
            nicknameId: 'nickname',
            descId: 'user-desc',
            avatarId: 'avatar',
        });
    </script>
{% endblock %}